*{
    padding: 0;
    margin: 0;
}



body{
    background-image: radial-gradient(#ac7feb, #dd3dee, #66d1e1);
}

main{
background-color: whitesmoke;
    width: 50%;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
    padding-top: 1em;
    border-radius: 10px;
    margin-bottom: 5em;
   
}

form{
 
}

.name-div{
  
    display: flex;
    flex-direction: column;
    width: 100%;

}

.first-name-div, .last-name-div{
    width: 100%;
    margin-top: 1em;

}

.first-name-input, .last-name-input{
    width: 80%;
    border-style: hidden hidden solid hidden;
    padding: .5rem;
    background-color:#fefcf3 ;
    margin-bottom: .5em;
}





.tel-div{

    width: 100%;
    margin-top: 1em;   
}

.tel-input{
    width: 80%;
    border-style: hidden hidden solid hidden;
    padding: .5rem;
    background-color:#fefcf3 ;
    margin-bottom: .5em;
}

.birthday-div{
   
    width: 100%;
    margin-top: 1em;
}

.birthday-label{

    display: block;
    width: 80%;
text-align: left;
margin: 0 auto;
color:#226ea2;
font-size: .8em;


}
.birthday-input{
    width: 80%;
    border-style: hidden hidden solid hidden;
    padding: .5rem;
    background-color: #fefcf3 ;
    margin-bottom: .5em;
}

.gender-div{
   
    display: flex;
    padding-top: 3em;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}


.color-div{
    width: 80%;
    display: flex;
    padding-top: 3em;
    padding-bottom: 3em;;
  
  margin: 0 auto;
}



.terms-div, .newsletter-div{
    display: flex;
    width: 80%;
   
    margin: 1em;
    margin: 0 auto;
    /* padding-top: 3em; */
 
}


button{
    margin-top: 3em;
    width: 50%;
    border: none;
    border-radius: 25px;
    color:#fefcf3;
    padding: 1em;
    margin-bottom: 4em;
    background-image: linear-gradient(#ac7feb, #dd3dee, #66d1e1);

}

a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1em;
}

